div{
height: 500px;
width: 500px;
position: relative;
margin-top: 6%;
margin-left: 30%;
padding: 10px 10px;
}
P{
color: aliceblue;
font-size: 14px; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-transform: uppercase;
}
img{
margin-left: 10%;


}
body{

    background-image: url(and.jpg);
    
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
}